/* Add your CSS styles for light mode here */

body {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Add your CSS styles for dark mode here */
  
  body.dark-mode {
    background-color: #060606;
    color: #ffffff;
  }

  :root {
    --primary-color: rgba(255, 255, 255, 0.434);
    --secondary-color: rgb(0, 0, 0);
    --bg-color: rgb(240, 240, 240);
    --font-color: rgb(32, 31, 78);
    --heading-color: rgb(20, 20, 20);
  }
  
  [data-theme="dark"] {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(255, 255, 255);
    --bg-color: rgb(11, 11, 11);
    --font-color: rgb(220, 220, 220);
    --heading-color: rgb(200, 200, 200);
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--font-color);
    background: linear-gradient(rgba(243, 240, 240, 0.5), rgba(255, 255, 255, 0.3)), url('img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 1024px;
    margin: 0 auto;
  }
  
  
  h1, h2, h3 {
    color: var(--heading-color);
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }