body {
  font-family: sans-serif;
  }
  
  h1 {
  text-align: center;
  }
  
  #mode-toggle {
  display: flex;
  justify-content: space-between;
  }
  
  #light-mode, #dark-mode {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  }
  
  #light-mode:hover, #dark-mode:hover {
  background-color: #ddd;
  }
  
  #name {
  width: 200px;
  }
  
  #date-time {
  font-size: 16px;
  }
  